services:
    api:
        container_name: cuenpy_api_dev
        build:
            context: ./api
            dockerfile: Dockerfile.dev
        ports:
            - "3000:3000"
        volumes:
            - ./api/src:/app/src
            - ./api/prisma:/app/prisma
            - ./api/tsconfig.json:/app/tsconfig.json
            - /app/node_modules
        env_file:
            - ./api/.env
        depends_on:
            - db
        stdin_open: true
        tty: true

    db:
        image: postgres:17-alpine
        container_name: cuenpy_db_dev
        restart: unless-stopped
        ports:
            - "5432:5432"
        volumes:
            - postgres_data_cuenpy:/var/lib/postgresql/data
        env_file:
            - ./.env.db

volumes:
    postgres_data_cuenpy:
